@CHARSET "UTF-8";

@font-face {
    font-family: 'nanum-barun-gothic-regular';
    src: url('../font/nanumbarungothicregular.eot');
    src: url('../font/nanumbarungothicregular.eot?#iefix') format('embedded-opentype'),
         url('../font/nanumbarungothicregular.woff2') format('woff2'),
         url('../font/nanumbarungothicregular.woff') format('woff'),
         url('../font/nanumbarungothicregular.ttf') format('truetype'),
         url('../font/nanumbarungothicregular.svg#nanum-barun-gothic-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: nanum-barun-gothic-regular !important;
}

#background {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.stretch {
	width: 100%;
	height: 100%;
}

.main_div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 400px;
	height: 650px;
	border-radius: 0.5em;
	background: #ffffff;
	background-color: rgba(200,230,255,0.7);
/* 	box-shadow: 0px 0px 15px #151414; */
}

#logo_div {
	padding-top: 30px;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

#comment_div {
}

.comment {
	text-align: center;
	color: #555351;
	font-weight: bold;
}

#facebook_div {
	padding: 10px 20px 10px 20px;
}

.facebook_bt {
	font-family: nanum-barun-gothic-regular !important;
	background-color: #44609c;
	color: #FEFDFD;
	width: 100%;
	padding: 15px 40px 17px;
    border-radius: 7px;
    border: none;
    line-height: 17px;
/*     font-weight: bold; */
    font-size: 15px;
}

.facebook_bt:hover {
	background-color: #607cb9;
	cursor: pointer;
}

#login_div {
	padding: 10px 20px 10px 20px;
}

.login_input {
	font-family: nanum-barun-gothic-regular !important;
/* 	font-weight: bold; */
	color: #626262;
	width: 95%;
	padding: 10px;
	line-height: 25px;
	margin-bottom: 4px;
    border: none;
	border-radius: 7px;
}

#forgot_div {
	padding: 10px 20px 10px 25px;
}

.a_tag {
	font-family: nanum-barun-gothic-regular !important;
	font-size: 13px;
	font-weight: bold;
	color: #ff4242;
	text-decoration: none;
}

.a_tag:hover {
	color: #d20000;
	font-weight: bold;
}

#login_bt_div {
	padding: 10px 20px 10px 25px;
}

.normal_bt {
	font-family: nanum-barun-gothic-regular !important;
	background-color: #969696;
	color: #FEFDFD;
	width: 100%;
	padding: 15px 40px 17px;
    border-radius: 7px;
    border: none;
    line-height: 17px;
/*     font-weight: bold; */
    font-size: 15px;
}

.normal_bt:hover {
	background-color: #a7a7a7;
	cursor: pointer;
}

#bottom_div {
	padding: 0px 20px 10px 25px;
}

.bottom_comment {
	text-align: center;
	color: #555351;
	font-weight: bold;
	font-size: 13px;
}

/* ///////////////////////////////////register.jsp//////////////////////////////////// */
#name_div {
	padding: 10px 20px 0px 20px;
}

#idpw_div {
	padding: 0px 20px 10px 20px;
}

#muResultForm {
	padding: 0px 20px 10px 22px;
}

/* ///////////////////////////////////policy.jsp//////////////////////////////////// */
.policy_div {
	font-family: nanum-barun-gothic-regular !important;
	font-weight: bold;
	color: #555351;
	font-size: 15px;
	margin: 10px 20px 10px 20px;
}

.policy_textarea {
	font-family: inherit;
	resize: none;
	width: 97%;
	background-color: transparent;
    border: none;
}

.policy_textarea:focus {
	outline: none;
}