@CHARSET "UTF-8";

body {
	font-family: nanum-barun-gothic-regular !important;
/* 	margin-left: 80px; */
	background-color: #eafff0;
}

.input {
	font-family: nanum-barun-gothic-regular !important;
	/* 	font-weight: bold; */
	color: #626262;
	width: 230px;
	padding: 10px;
	line-height: 25px;
	margin-bottom: 4px;
	border: solid;
	border-color: #C8E6FF;
	border-radius: 7px;
}

.normal_bt {
	font-family: nanum-barun-gothic-regular !important;
	background-color: #a8b7ff;
	color: #FFFFFF;
	width: 150px;
	padding: 15px 40px 17px;
	border: none;
	border-radius: 7px;
	line-height: 13px;
	font-size: 15px;
}

.normal_bt:hover {
	background-color: #8298ff;
	cursor: pointer;
}

#logout_btn {
	font-family: nanum-barun-gothic-regular !important;
	background-color: #a8b7ff;
	color: #FFFFFF;
	width: 80px;
	padding: 10px 10px 10px;
	border: none;
	border-radius: 7px;
	line-height: 13px;
	font-size: 13px;
}

#logout_btn:hover {
	background-color: #8298ff;
	cursor: pointer;
}

#profile_all_div {
	position: absolute;
	top: 0px;
	left: 0px;
	padding-left: 100px;
	padding-top: 50px;
	width: 90%;
	height: 90%;
}

#profile_ {
	width: 500px;
	float: left;
	
}

#profile_picture_div {
	height: 200px;
}

#profile_image {
	width:150px;
	margin-top: 25px;
    margin-left: 180px;
}

#profile_information_div {
	margin-left: 50px;
}

#profile_information_div tr td {
	width: 100px;
}

#profile_button_div {
	margin: 30px 0 0 30px;
}

#userList {
	overflow: scroll;
	width: 400px;
	height: 500px;
	padding-left: 5px;
}

#search_div {
	position: absolute;
	padding-left: 20px;
	width: 500px;
	display:inline;
}