@CHARSET "UTF-8";

body {
	font-famil: 돋움, dotum, sans-serif;
	font-size: 12px;
	color: rgb(102, 102, 102);
	background: rgb(245, 245, 245);
}

body fieldset legend {
	font-size: 14px;
}

.main_wrapper {
	width: 600px;
	margin: 0 auto;
}

.coupang_img {
	margin-top: 20px;
	margin-bottom: 20px;
}

.main_fieldset {
	padding: 20px;
	background-color: #fdfdfd;
}

.main_title {
	color: #000;
	margin: 0;
}

.login{
	margin-top: 20px;
}

.login_id_title {
	margin-bottom: 5px;;
}

.login_id_input {
	margin-top: 5px;
}

.login_id_input_email {
	width: 190px;
	height: 20px;
}

.login_id_input_domain {
	width: 150px;
	height: 20px;
}

.login_id_input_select {
	height: 27px;
	width: 120px;
	padding: 4px;
}

.login_pw {
	margin-top: 15px;
}

.login_pw_title {
	display: inline-block;
	width: 245px;
	margin-bottom: 5px;
}

.login_pw_input {
	width: 240px;
	height: 20px;
}

#login_pw_err {
	color: #ff0000;
	display: none;
	margin: 15px 5px 15px 5px;
	font-weight: bold;
	font-size: 12px;
}

.member_element {
	margin-top: 10px;
}

.member_subtitle {
	width: 80px;
	float: left;
}

.member_description {
	font-size: 11px;
	margin-left: 80px;
}

.member_and_option_impormation {
	margin-top: 25px;
	padding: 0 15px 15px 15px;
	background-color: #f4f4f4;
}

#member_select_option_year {
	width: 80px;
	margin-right: 5px;
}

#member_select_option_month {
	width: 60px;
	margin-right: 5px;
}

#member_select_option_day {
	width: 60px;
	margin-right: 5px;
}

.option_impormation_subtitle {
	width: 100px;
	float: left;
}

.option_impormation_element {
	margin-top: 10px;
}

#option_impormation_description_1 {
	font-size: 11px;
}

#option_impormation_description_2 {
	color: #000;
	margin-left: 100px;
}

#terms {
	border: none;
	margin-top: 25px;
}

.terms_element {
	float: left;
	width: 45%;
	background-color: #ebebeb;
	padding: 10px;
	margin: 1px;
	
}

.terms_element_button {
	float: right;
	background-color: #fafafa;
	font-size: 11px;
	color: #777;
	border: 1px solid;
	border-color: #bdbec7;
	padding: 3px 5px;
}

.terms_element a {
	font-size: 14px;
	text-decoration: none;
	color: #777;
}

#last_description {
	margin-left: 15px;
	font-size: 14px;
}

#complete_button_wrapper {
	margin-top: 25px;
}

#complete_button {
	font-weight: bold;
	border-color: #0085da;
	color: #fff;
	background-color: #0c97e7;
	background-image: linear-gradient(#41bef9, #0c97e7, #007ed0);
	box-shadow: inset 0 0 2px #fff;
	padding: 15px 40px 17px;
	border-radius: 7px;
	font-size: 22px;
	line-height: 24px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
	border: 1px solid #0085da;
}