<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>graduationRepo</display-name>
  <welcome-file-list>
    <welcome-file>intro.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>model.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>recall DB</description>
    <res-ref-name>jdbc/recalldb</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>MarkerServlet</display-name>
    <servlet-name>MarkerServlet</servlet-name>
    <servlet-class>controller.MarkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkerServlet</servlet-name>
    <url-pattern>/marker.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>controller.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendListServlet</display-name>
    <servlet-name>FriendListServlet</servlet-name>
    <servlet-class>controller.FriendListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendListServlet</servlet-name>
    <url-pattern>/friendList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>controller.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserMgmtServlet</display-name>
    <servlet-name>UserMgmtServlet</servlet-name>
    <servlet-class>admin.controller.UserMgmtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMgmtServlet</servlet-name>
    <url-pattern>/userMgmt.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendRequestServlet</display-name>
    <servlet-name>FriendRequestServlet</servlet-name>
    <servlet-class>controller.FriendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendRequestServlet</servlet-name>
    <url-pattern>/reqFriend.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>ModifyServlet</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>controller.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/modify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveServlet</display-name>
    <servlet-name>LeaveServlet</servlet-name>
    <servlet-class>controller.LeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveServlet</servlet-name>
    <url-pattern>/leave.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>StatsMgmtServlet</display-name>
    <servlet-name>StatsMgmtServlet</servlet-name>
    <servlet-class>admin.controller.StatsMgmtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatsMgmtServlet</servlet-name>
    <url-pattern>/statsMgmt.do</url-pattern>
  </servlet-mapping>
</web-app>